<img src="{{ site.url }}/images/{{ site.owner.avatar }}" class="bio-photo" alt="{{ site.owner.name }} bio photo" width="100" height="100"></a>

<!-- <h4>{{ site.owner.name }}</h4> -->

<p>{{ site.owner.bio }}</p>

{% if site.owner.email %}<p style="text-indent:0;margin-top:1.5em;"><a href="mailto:{{ site.owner.email }}" target="_blank"><i class="icon-mail"></i> Email</a></p>{% endif %}

{% if site.owner.cv %}<p style="text-indent:0;"><a href="{{ site.owner.cv }}"><img src="https://caihanlin.com/images/logo/icons8-cv-100.png" width="16.5" height="16.5"></i> My CV</a></p>{% endif %}

{% if site.owner.twitter %}<p style="text-indent:0;"><a href="https://twitter.com/{{ site.owner.twitter }}"><i class="icon-twitter"></i> Twitter</a></p>{% endif %}

{% if site.owner.facebook %}<p style="text-indent:0;"><a href="https://facebook.com/{{ site.owner.facebook }}"><i class="icon-facebook"></i> Facebook</a></p>{% endif %}

{% if site.owner.google_plus %}<p style="text-indent:0;"><a href="{{ site.owner.google_plus }}"><i class="icon-google-plus"></i> Google+</a></p>{% endif %}

{% if site.owner.linkedin %}<p style="text-indent:0;"><a href="https://linkedin.com/in/{{ site.owner.linkedin }}"><i class="icon-linkedin"></i> LinkedIn</a></p>{% endif %}

{% if site.owner.instagram %}<p style="text-indent:0;"><a href="https://instagram.com/{{ site.owner.instagram }}"><i class="icon-instagram"></i> Instagram</a></p>{% endif %}

{% if site.owner.github %}<p style="text-indent:0;"><a href="https://github.com/{{ site.owner.github }}"><i class="icon-github"></i> Github</a></p>{% endif %}

{% if site.owner.lastfm %}<p style="text-indent:0;"><a href="https://lastfm.com/{{ site.owner.lastfm }}"><i class="icon-lastfm"></i> Last.fm</a></p>{% endif %}

{% if site.owner.tumblr %}<p style="text-indent:0;"><a href="https://{{ site.owner.tumblr }}.tumblr.com"><i class="icon-tumblr"></i> Tumblr</a></p>{% endif %}

{% if site.owner.scholar%}<p style="text-indent:0;"><a href="{{ site.owner.scholar}}"><i class="ai ai-google-scholar-square"></i> Google Scholar</a></p>{% endif %}

{% if site.owner.researchgate %}<p style="text-indent:0;"><a href="{{ site.owner.researchgate}}"><img src="https://caihanlin.com/images/logo/icons8-rg.png" width="14" height="14"></i> ResearchGate</a></p>{% endif %}

{% if site.owner.zhihu %}<p style="text-indent:0;"><a href="{{ site.owner.zhihu }}"><img src="https://caihanlin.com/images/logo/icons8-zhihu-96.png" width="15.8" height="15.8"></i> Zhihu</a></p>{% endif %}

{% if site.owner.bilibili %}<p style="text-indent:0;"><a href="https://space.bilibili.com/{{ site.owner.bilibili }}"><img src="https://caihanlin.com/images/logo/icons8-retro-tv-100.png" width="15" height="15"></i> Bilibili</a></p>{% endif %}

<div id="busuanzi_stats">
    <div id="busuanzi_container_site_pv">总访问量: <span id="busuanzi_value_site_pv"></span></div>
    <br>
    <div id="busuanzi_container_site_uv">总访客数: <span id="busuanzi_value_site_uv"></span></div>
</div>
<br><br>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<script>
    // 初始化单个用户点击计数
    if (!localStorage.getItem('user_click_count')) {
        localStorage.setItem('user_click_count', 0);
    }

    // 更新用户点击计数
    function updateUserClickCount() {
        let count = parseInt(localStorage.getItem('user_click_count'));
        count += 1;
        localStorage.setItem('user_click_count', count);
        document.getElementById('user_click_count').innerText = count;
    }

    // 页面加载时更新计数
    document.addEventListener('DOMContentLoaded', function () {
        updateUserClickCount();
    });
</script>

<!-- BEGIN: Powered by Supercounters.com -->
<center>
    <script type="text/javascript" src="//widget.supercounters.com/ssl/hit.js"></script>
    <script type="text/javascript">sc_hit(1695881, 126, 9);</script><br><noscript><a
            href="http://www.supercounters.com/">free online counter</a></noscript>

    <script type="text/javascript" src="//widget.supercounters.com/ssl/online_t.js"></script>
    <script type="text/javascript">sc_online_t(1695882, "Users Online", "170ddb");</script><br><noscript><a
            href="https://www.supercounters.com/">supercounters.com</a></noscript>
</center>

<!-- END: Powered by Supercounters.com -->








<!-- Lastly modified by Hanlin CAI in 2023/10/15 -->